# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [105]:
my_int = 23

print(my_int)

23

##### Assinging float

In [106]:
my_float = 2.23

print(my_float)

print(my_float)

2.23
2.23

#### Performing Calculations on ints and floats

##### Addition

In [107]:
10 + 10

my_int + my_float

25.23

In [128]:
my_int = my_int + 5

##### Subtraction

In [129]:
10 - 9

my_int - my_float

25.77

##### Multiplication

In [130]:
my_float * my_int

62.44

##### Division

In [131]:
type(10/2)

int(10/2)

5

##### Floor Division

In [132]:
10 // 2 

11//2

5

##### Modulo

In [133]:
11 % 2

10%2

19%5

4

##### Exponential

In [134]:
10 ** 2

100

### String Input-Output

##### String Assignment

In [142]:
a_string = "hello world"

print(a_string)

hello world

##### print() <br>
<p>Don't forget about end=' '</p>

##### String Concatenation

In [150]:
a_string + " " + "padawans"

'hello world padawans'

##### Type Conversion

In [158]:
str(my_int)

'28'

##### input()

In [27]:
user_name = input("What is your name: ")

print(user_name)

Faisal

##### format()

In [36]:
"User name is {}".format(user_name, 33)

f'User name is {user_name} and age is {33}'

'User name is Faisal and age is 33'

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [60]:
car_color = input("What is the car's color: ")

car_year = input("What year is your car: ")

car_make = input("What is the car's make: ")

car_model = input("Lastly, what model is your car: ")

print(f"Your car is a {car_color} {car_year} {car_make} {car_model}")

Your car is a White 2019 volvo tribeca

### If Statements

In [131]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

if True:
        print('true')
        print("2nd action")

if False:
        print('false')

if 10 < 11:
        print('10 < 11')

if 10<=10:
        print('10 <= 10')

if 10 > 11:
        print('10>11')

if 10 == 10:
        print('10 == 10')

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F
        
if True and False:
        print('t and f')

if True and 10 == 10:
        print('t and 10 == 10')

if False and False:
        print('f and f')

if 0 > 1 or 1 > 0:
        print('0>1 or 1>0')

if 1==1 or 0==1:
    print('1==1 or 0==1')

true
2nd action
10 < 11
10 <= 10
10 == 10
t and 10 == 10
0>1 or 1>0
1==1 or 0==1

##### 'is' keyword

In [152]:
# if 10 is 10: 
#     print("10 is 10")

my_dict = {'foo' : 'bar'}

my_dict_copy = my_dict

print(my_dict)

my_dict is my_dict_copy

{'foo': 'bar'}

True

##### 'in' keyword

In [159]:
'b' in 'brandt'

'b' in 'Brandt'

if 'b' in "Brandt":
    print('case insensitive')

##### 'not in' keyword'

In [ ]:
'p' not in 'Padawans'
if 'p' not in "Padawans" 

if

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [222]:
user_input = input("Enter a word: ")

if 'p' in user_input:
    print('true')
else:
    print('false')

false

## Using 'and'/'or' with If Statements

### Elif Statements

In [236]:
if False:
    print("false")
elif True:
    print("true")

if 10 == 10:
    print('10 == 10')
elif 10 > 8:
    print('10 > 8')

true
10 == 10

### Else Statements

In [249]:
# see above


if 10 == 11:
    print('10 == 10')
elif 10 > 12:
    print('10 > 8')
else:
    print('nothing true')

nothing true

### For Loops

In [261]:
school = 'coding temple'

# for <loop variable> in <iterable>:

for letter in school:
    print(letter)
    print("2nd action")
print('exit loop')

c
2nd action
o
2nd action
d
2nd action
i
2nd action
n
2nd action
g
2nd action

2nd action
t
2nd action
e
2nd action
m
2nd action
p
2nd action
l
2nd action
e
2nd action
exit loop

##### Using 'in' keyword

In [262]:
# see above

##### Continue Statement

In [263]:
# will continue to next iteration

In [279]:
for num in range(10):
    if num == 4:
        continue
    print(num)

0
1
2
3
5
6
7
8
9

##### Break Statement

In [280]:
# will break out of current loop

In [283]:
for num in range(10):
    if num == 4:
        break
    print(num)

0
1
2
3

##### Pass Statement

In [284]:
# mostly used as a placeholder, and will continue on same iteration

In [286]:
for num in range(10):
    if num == 4:
        pass
    print(num)

0
1
2
3
4
5
6
7
8
9

##### Double For Loops

In [288]:
for num in range(5):
    print('entering outer loop')
    for letter in 'dylan':
        print(f'{num = } {letter = } ')

    print("completed inner loop")

entering outer loop
num = 0 letter = 'd'
num = 0 letter = 'y'
num = 0 letter = 'l'
num = 0 letter = 'a'
num = 0 letter = 'n'
completed inner loop
entering outer loop
num = 1 letter = 'd'
num = 1 letter = 'y'
num = 1 letter = 'l'
num = 1 letter = 'a'
num = 1 letter = 'n'
completed inner loop
entering outer loop
num = 2 letter = 'd'
num = 2 letter = 'y'
num = 2 letter = 'l'
num = 2 letter = 'a'
num = 2 letter = 'n'
completed inner loop
entering outer loop
num = 3 letter = 'd'
num = 3 letter = 'y'
num = 3 letter = 'l'
num = 3 letter = 'a'
num = 3 letter = 'n'
completed inner loop
entering outer loop
num = 4 letter = 'd'
num = 4 letter = 'y'
num = 4 letter = 'l'
num = 4 letter = 'a'
num = 4 letter = 'n'
completed inner loop

### While Loops

In [290]:
num = 0 

while num < 10:
    print(num)
    num += 1
print('exit loop', num)

0
1
2
3
4
5
6
7
8
9
exit loop 10

##### Looping 'While True'

In [294]:
while True:
    print('playing game')
    playing = input('Are you still playing?')
    if playing == 'no':
        break

playing game
playing game
playing game

##### While & For Loops Used Together

In [296]:
num = 0

while num < 5:
    for num2 in range(5):
        print(f'{num = } {num2 = }')
    num +=1

num = 0 num2 = 0
num = 0 num2 = 1
num = 0 num2 = 2
num = 0 num2 = 3
num = 0 num2 = 4
num = 1 num2 = 0
num = 1 num2 = 1
num = 1 num2 = 2
num = 1 num2 = 3
num = 1 num2 = 4
num = 2 num2 = 0
num = 2 num2 = 1
num = 2 num2 = 2
num = 2 num2 = 3
num = 2 num2 = 4
num = 3 num2 = 0
num = 3 num2 = 1
num = 3 num2 = 2
num = 3 num2 = 3
num = 3 num2 = 4
num = 4 num2 = 0
num = 4 num2 = 1
num = 4 num2 = 2
num = 4 num2 = 3
num = 4 num2 = 4

### Built-In Functions

##### range()

In [298]:
list(range(10))

list(range(2, 20, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

##### len()

In [306]:
len('brandt')

list(range(len('brandt')))

instructor = 'brandt'

for i in range(len(instructor)):
    print(f'{i = } {instructor[i]}')

i = 0 b
i = 1 r
i = 2 a
i = 3 n
i = 4 d
i = 5 t

##### help()

In [308]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [310]:
type('abc')

isinstance(0, int)

True

##### abs()

In [312]:
abs(-5)

5

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [7]:
nums = 0
for num in range(12):
    num2 = num**3
    if num2 >= 1000:
        break
    print(num2)

0
1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [35]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(2,101): 
    for j in range(2,101):
        if i%j == 0:
            break
    if i == j:
        print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [36]:
user_age = input("Input your age: ")

if int(user_age )< 18:
    print("You are a kid")
elif int(user_age) >= 18 and int(user_age) <= 65:
    print("You are an adult")
else:
    print("You are a senior")